@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #222;
    color: #fff;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information input {
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin: 5px;
}

.information button {
    width: 320px;
    height: 50px;
    margin-top: 30px;
}

.information button:hover {
    cursor: pointer;
}